<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: blueberry">...</div>

<h1>Profile of <span th:text="${currentUser.username}"></span></h1>

<div th:if="${principal == false and alreadyFollowing == false}">
    <form action="#" th:action="@{/add/} + ${currentUser.username}" method="POST">

        <input type="submit" value="Follow" class="followButton">
    </form>
</div>

<h2>Stats:</h2>
    <img th:src="${principal}? 'https://static.pokemonpets.com/images/monsters-images-300-300/7-Squirtle.png':'https://tattoodo-mobile-app.imgix.net/images/posts/IMG_20170516_104411_WxMRnO1msS.jpg?w=1080&fit=crop&auto=format%2Ccompress'" height="200px" width="200px"/>
    <p>Username: <span th:text="${currentUser.username}"/></p>
    <p>First Name: <span th:text="${currentUser.firstName}"/></p>
    <p>Last Name: <span th:text="${currentUser.lastName}"/></p>
    <p>Date of Birth: <span th:text="${#dates.format(currentUser.dateOfBirth, 'dd-MMM-yyyy')}"/></p>
    <p>Bio: <span th:text="${currentUser.bio}"/></p>
    <br/>
    <h2>Posts</h2>
    <span th:text="${#lists.size(currentUser.posts)} != 0? '': 'There are no posts.'"></span>

    <ul>
        <li th:each="post : ${currentUser.posts}">
            <span th:text="${post.body}"></span><br/>
            <span th:text="${#dates.format(post.createdAt, 'dd-MMM-yyyy HH:mm')}"></span>
        </li>
    </ul>
<hr/>
<h2 th:if="${principal}">All Users:</h2>
    <ul>
        <li th:each="user : ${allUsers}">
            <p>User: <span th:text="${user.firstName}"></span>, with username <span th:text="${user.username}"></span></p>
            <a th:href="@{/myprofile/} + ${user.username}">See Profile</a>
        </li>
    </ul>
<div th:if="${principal}">

</div>

</body>
</html>