<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: notPermitted">...</div>

<h1>Register for a Codefellowship Account</h1>
<p class="red">All fields are required.</p>
<form action="/signup" method="POST">
    <p>Username: <input name="username" required /></p>
    <p>Password: <input name="password" type="password" required /></p>
    <p>First Name: <input name="firstName" required /></p>
    <p>Last Name: <input name="lastName" required /></p>
    <p>Date of Birth: <input name="dateOfBirth" type="date" required /></p>
    <span>Bio:</span><br/><textarea name="bio" rows="5" cols="60" required></textarea>
    <br/>
    <input type="submit" />
</form>
</body>
</html>