<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form action="/signup" method="POST">
    <p>Username: <input name="username" /></p>
    <p>Password: <input name="password" type="password"/></p>
    <p>First Name: <input name="firstName" /></p>
    <p>Last Name: <input name="lastName" /></p>
    <p>Date of Birth: <input name="dateOfBirth" type="date" /></p>
    Bio: <textarea name="bio" rows="5" cols="20"/></textarea>
    <br/>
    <input type="submit" />
</form>
</body>
</html>